div[fxLayoutAlign] {
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }

  .third-party-btn {
    width: 200px;
    text-align: left;
    color: white;
    .fa {
      padding-right: 5px;
    }
  }
  .google-bg {
    background-color: #fff;
    color: #757575;
  }
  .facebook-bg {
    background-color: #3b5998
  }
}
